/*
  ========================================
  Reset: http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
  ========================================
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container,
.grid {
  margin: 0 auto;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
  width: 960px;
}


.grid, .col {
    padding-left: 15px;
    padding-right: 15px;
}

.col {
    display: inline-block;
    vertical-align: top
}

/*
    4 col grid layout
*/

.col-1-4 {
    width: 25%
}

.col-2-4 {
    width: 50%
}

.col-3-4 {
    width: 75%
}

.col-4-4 {
    width: 100%
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h2, h3, h4, h5, p {
  margin-bottom: 22px;
  color: #648880;
}

h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}

h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}


strong {
  font-weight: 400;
}
cite, em {
  font-style: italic;
}



/*
  ========================================
  Custom styles
  ========================================
*/
body {
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  text-align: center;
}

/* -- Pegs -- */

.peg {
    display: block;
    width: 50px;
    height:50px;
    border-radius: 50%;
    background: yellow;
    padding: 10px;
    margin: 5px auto;
}

.peg-selected {
    border: 4px solid slategrey;
}

.peg-color-yellow {
    background: yellow;
}

.peg-color-red {
    background: darkred;
}

.peg-color-green {
    background: green;
}

.peg-color-blue {
    background:blue;
}

.peg-color-purple {
    background: purple;
}

/* -- Pins -- */

.pin {
    display: inline-block;
    width: 50px;
    height:50px;
    border-radius: 50%;
    padding: 10px;
    margin: 5px;
}


/* -- Game progress -- */
.gameProgress {
  margin-top: 20px;
  height: 150px;
  border: 1px solid black;
}

/* -- feedback elements (feds) -- */

.fed-box {
  width: 44px;
  margin-top: 10px;
}

.fed {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  border: 2px solid black;
  width: 12px;
  height: 12px;
  margin-right: 10px;
}

.fed-exact {
  background-color: black;
}

.fed-miss:before, .fed-miss:after {
  position: absolute;
	left: 3px;
	top: 0px;
	content: ' ';
	height: 9px;
	width: 2px;
	background-color: #333;
}

.fed-miss:before {
  transform: rotate(45deg);
}

.fed-miss:after {
  transform: rotate(-45deg);
}

/* -- Submit button -- */

.submit {
  position: relative;
  width: 50px;
  height: 50px;
  border: 0;
  cursor: pointer;
  border-radius: 50%;
  margin: 5px auto;
}

.submit:before {
  content: "";
  position: absolute;
  top: 22px;
  left: 15px;
  width: 20px;
  height: 25px;
  border-color: green;
  border-style: solid;
  border-width: 0 5px 5px 0;
  transform: rotate(45deg);
  margin-top: -11px;
}

/* -- Round -- */

.round {
  margin-bottom: 2px;
}

.round-active {
  background: #a7b7c7;
}


/* -- Rules -- */
.rules {
  margin-top: 20px;
}

/* -- Progress -- */
.progress {
  margin-top: 25px;
}